:root {
  --yellow: #f5c32c;
  --orange: #fca61f;
  --black: #000000;
  --gray: rgba(36, 45, 73, 0.65);
  --profileShadow: 0px 2px 13px 1px rgba(0, 0, 0, 0.25);
  --hrColor: #cfcdcd;
  --cardColor: rgba(224, 230, 231, 0.171);
  --buttonColor: rgba(88, 222, 226, 0.13);
  --buttonBg: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
  --inputColor: rgba(119, 128, 128, 0.055);
  --photo: #0f0f0f93;
  --video: #07070780;
  --location: #0707078f;
  --schedule: #0c0c0c86;
}

.App {
  overflow: hidden;
  color: var(--black);
  background: #ffffff;
  padding: 1rem 1rem;
}

::-webkit-scrollbar{
  display: none;
}

