
@font-face {
  font-family: "GothamLight";   /*Can be any text*/
  src: local("GothamLight"),
    url("./fonts/GothamLight.ttf") format("truetype");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "GothamLight";   /*Can be any text*/
  src: local("GothamLight"),
    url("./fonts/GothamLight.ttf") format("truetype");
}

code {
  font-family: "GothamLight";   /*Can be any text*/
  src: local("GothamLight"),
    url("./fonts/GothamLight.ttf") format("truetype");
}

